
.pic{
    height: 300px;
}
.container{
    margin-left: 40%;
}
.example-card {
    max-width: 500px;
    max-height: 1000px;
  }
  
 #icon{
    width: 40px;
 }
 .container{
    margin-top: 25px;
    margin-bottom: 25px;
 }

  