<div class="container">
    <mat-form-field appearance="outline" class="npt">
      <mat-label>Search for a recipe</mat-label>
      <input matInput [(ngModel)]="searchRecipeName" (input)="filterRecipes()">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="npt">
      <mat-label>Search by category</mat-label>
      <select matNativeControl [(ngModel)]="searchCategory" (change)="filterRecipes()">
        <option value="0">Search by category</option>
        <option value="2">main</option>
        <option value="3">extras</option>
        <option value="1">dessert</option>
      </select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="npt">
      <mat-label>Search by preparation time</mat-label>
      <input matInput type="number" [(ngModel)]="searchDuration" (input)="filterRecipes()">
    </mat-form-field>
  </div>
  
  <div>
    <div *ngIf="filteredRecipeList.length === 0">No recipes found.</div>
    <div *ngFor="let recipe of filteredRecipeList" id="div">
      <app-small-recipe [recipe]="recipe"></app-small-recipe>
    </div>
  </div>
  
  