@if(!isResistered){
<form [formGroup]="loginForm">
    <div class="nptContainer">
        <h1>Hi, nice to see you again :)</h1>
        <p>
            <mat-form-field appearance="outline" class="npt">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName" name="name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="npt">
                <mat-label>Password</mat-label>
                <input matInput formControlName="userPassword" name="userPassword">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" (click)="tryLogin()" [disabled]="!loginForm.valid">Login</button>
    </div>
</form>
}
@else{
    <app-register></app-register>
}